*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
}

.cabecalho{
    background-color: #e7e7e7;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-top: 15px;
    margin-left: -110px;
}

/*cabeçalho*/
.cabecalho ul{
    display: flex;
    justify-content: center;
    gap: 70px;
    list-style: none;
    cursor: pointer; 
    padding: 20px;
    margin-right: 50px;
}

.cabecalho ul li i{
    color: #011F8D;
    font-size: 17px;
}

.cabecalho a{
    color: #011F8D;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.5s;
}

.cabecalho a:hover{
   border-radius: 3px;
   padding: 5px;
   background-color: #011F8D;
   color: #e7e7e7;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px 100px 0px;
}

.cadastro img{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/*Corpo do site*/

.principal{
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    border: 1px solid rgba(177, 177, 177, 0.822);
    padding: 20px;
    font-family: "Poppins";
    
}



#titulo{
    margin-bottom: 25px;
}

h2{
    margin-left:40px;
    margin-right:40px;
    color: darkblue;
}

input{
    border: 1px solid rgba(177, 177, 177, 0.822);
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    font-family: "Poppins";
}

input:placeholder-shown{
    font-family: "Poppins";
    padding: 8px;
}

textarea{
    font-family: "Poppins";
    border-radius: 5px;
    border: 1px solid rgba(177, 177, 177, 0.822);
    width: 100%;
    padding: 8px;
    resize: none;
}

textarea:placeholder-shown{
    font-family: "Poppins";
    padding: 8px;
}

select{
    border: 1px solid rgba(177, 177, 177, 0.822);
    border-radius: 5px;
    width: 100%;
    font-family: "Poppins";
    padding: 8px;
}

button{
    margin-left: 180px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 3px;
    padding: 10px;
    transition: 100ms linear;
    
}

button:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
}

/*Rodapé do site*/

footer{
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

#logofooter img{
    width: 70px;
   margin-top: 0px;
   border-radius: 10px;
}

.links{
    display: flex;
    gap: 50px;
}

.links a{
    margin-top: 30px;
    text-decoration: none;
    color: #e7e7e7;
}

.links a:hover{
   text-decoration: underline;
}

.txt-footer{
    margin-top: 30px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
