*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
}
.cabecalho{
    background-color: #e7e7e7;
    height: 80px;
    width: 100%;
    position: fixed;
}

/*cabeçalho*/
.cabecalho ul{
    display: flex;
    justify-content: center;
    gap: 70px;
    list-style: none;
    cursor: pointer; 
    padding: 20px;
}

.cabecalho ul li i{
    color: #011F8D;
    font-size: 17px;
}
.cabecalho a{
    color: #011F8D;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.5s;
}

.cabecalho a:hover{
   border-radius: 3px;
   padding: 5px;
   background-color: #011F8D;
   color: #e7e7e7;
}

.descricao{
    margin-top: 30px;
    width: 1600px;
    height: 240px;
    text-align: justify;
    line-height: 2rem;
    text-indent: 60px;
}

/*config dos titulos*/
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}


h2{
    margin-left:17px;
    margin-right:17px;
    color: darkblue;
}

.line-t1{
   width: 608px;
    height: 5px;
    background-color:#011F8D;
}

/*sessao-produtos*/
.sessao-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*config de cada sessao separado*/
.pc-gamer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.pc-trabalho{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.pc-eng{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
}
/*config de todos os cards*/
.card{
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.411);
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

button{
    margin: 30px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 3px;
    padding: 10px;
}


footer{
    background-color: darkblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

#logofooter{
    border: 2px solid black;
    width: 30px;
    height: 30px;
    padding: 10px;
}

.links{
    display: flex;
    gap: 50px;
}

.links a{
    margin-top: 30px;
    text-decoration: none;
    color: #e7e7e7;
}

.links a:hover{
   text-decoration: underline;
}

.txt-footer{
    margin-top: 30px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}